//text
$color-main: #403F3D;
$color-second: #E1D4C9;
$color-accent: #B0907A;

//background
$color-body: #E1D4C9;
$color-conteiner: #665F55;
$color-backdrop: #403F3DCC;

//border
$color-border: #C1B6AD;
$color-dark: #665F55;

// width - 80 pading(40 i 40)
$width: 1360px;
$width-tablet: 768px;
$width-mobile: 300px;